<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><center>Algorithm Listing</center></h1>

<% @algorithm.each do |alg| %>
    <br>
    <h2><%= alg.name %></h2>
    <%= sanitize alg.purpose %>
    <h3> Difficulty: <span><%= alg.difficulty %></span></h3>
    </br>
<% end %>
