<p>Welcome to the home page of the Algorithm Tutorial site. The plan is for this site to be built out to contain interesting articles regarding computer science and mathematics. It is targeted towards anyone who is interested in implementing and understanding algorithms. The site has an index listing every available algorithm. Happy browsing! </p>
