// Place all the styles related to the algorithms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
  background: #FFB2B2;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
#columns {
  background: #FF6666;

  #main {
    margin-left: 19em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #FF6666;
    color: white;
	#DateTime {
		font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
		font-size: 14px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 20px;
		white-space: nowrap;
	}
    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #bfb;
	  font-size: small;
	}
      }
    }
  }
}

#code{
background: grey
}
span.italic {
    font-style: italic;
	font-size: 16px;
	text-align: center;	
	color: grey;
}
h1,h2, h3, h4, h5, h6 {
color: #111369;
}


